extends partial/layout.pug

block site_title
    != page.title + " · " + config.title

block description
    - var desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block container
    .article-clean
        .container
            .row 
            .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
                include mixins/post.pug
                +post(page)

block pagination
    include mixins/paginator.pug
    +post()
