<div class="modal fade" role="dialog" tabindex="-1" id="cookieconsent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>We are care about privacy and rights</strong></h4>
        <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close" id="acceptcookie1" style="visibility: hidden;"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <p>So we want to let you know that we use cookies to track web visit data like many other commercial websites. We use them for a historical research to improve the visitor and customer experience. If you continue using our website, we'll assume that you agree to receive all cookies on this website.&nbsp;<a href="https://www.iubenda.com/privacy-policy/8056022">Learn&nbsp;more</a></p>
      </div>
      <div class="modal-footer" style="background-image: url('https://anelen.co/assets/img/logo.png');background-size: contain;background-repeat: no-repeat;background-position: 10% 10%;margin: 15px;border-top: 0px;">
        <button class="btn btn-primary" id="acceptcookie2" data-dismiss="modal" type="button">Continue</button>
      </div>
    </div>
  </div>
</div>
