    <footer class="bg-light footer" style="background: linear-gradient(90deg, #00599C 98%, #00599C);">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center text-lg-left my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="https://anelen.co" style="color: #FFF;">Powered by ANELEN</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="mailto:hello@handoff.cloud" style="color: #FFF;">Contact</a></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="https://anelen.co/privacy_policy.html" style="color: #FFF;">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Anelen Co., LLC 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-5 text-center text-lg-right my-auto h-100">
                    <ul class="list-inline mb-0 social">
                        <li class="list-inline-item"><a href="https://www.facebook.com/anelendatascience/"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/handoffcloud"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/anelen/"><i class="fa fa-linkedin fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
