<section class="text-center text-white call-to-action" style="background: url(&quot;https://handoff.cloud/assets/img/work-life-light.jpg&quot;) center center / cover no-repeat;">
    <div class="overlay" style="opacity: 1;background: rgba(33,37,41,0);"></div>
    <div class="container" style="opacity: 1;">
        <div class="row" style="width: 80%;margin-right: auto;margin-left: auto;padding: 20px;background: #FFF;">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-4" style="color: #00599C;">Make smarter decisions with your data today</h1>
            </div>
            <div class="col-md-10 col-lg-12 col-xl-9 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-12 col-lg-4 col-xl-4 offset-lg-2 offset-xl-1" style="padding-bottom: 20px;"><a class="btn btn-primary btn-block btn-lg" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/handoff-demo/handoff-online-demo'});return false;">Book a Demo</a></div>
                        <div class="col-lg-4 col-xl-4 offset-lg-1 offset-xl-1" style="padding-bottom: 20px;"><a class="btn btn-success &quot;btn btn-primary btn-block btn-lg" role="button" href="#" onclick="$(&#39;#contact-modal&#39;).modal(&#39;show&#39;);">Send an Email</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
