.container
    section.services
        .row
            .col
                h2 Next: Find out how we can help you
        .row.articles
            .col-sm-6.col-md-4.item.text-center
                a(href="https://anelen.co/data-engineering.html", target="_self")
                    img.img-fluid(src="https://anelen.co/assets/img/analytics_infra.png")
                a(href="https://anelen.co/data-engineering.html", target="_self")
                    h3.name Data Engineering

            .col-sm-6.col-md-4.item.text-center
                a(href="https://anelen.co/analytics.html", target="_self")
                    img.img-fluid(src="https://anelen.co/assets/img/cohort.png")
                a(href="https://anelen.co/analytics.html", target="_self")
                    h3.name Analytics

            .col-sm-6.col-md-4.item.text-center
                a(href="https://anelen.co/stats_ml.html", target="_self")
                    img.img-fluid(src="https://anelen.co/assets/img/measure-effect.png")
                a(href="https://anelen.co/stats_ml.html", target="_self")
                    h3.name Statistical analysis & machine learning
